用到了两个数据集，大数据集用来实现推荐系统，小数据集用来建立个性化推荐系统

In [244]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

In [114]:
md = pd. read_csv('../movies_metadata.csv')
md.head()

/Users/yangmei/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

最简单的推荐系统：越受欢迎的电影越可能被大多数人喜欢。根据popularity(和genre)推荐。排序即可。不包含个性化推荐。

In [115]:
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [116]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.244896612406511

要入排行榜的电影票数要多于95%的电影

In [119]:
m = vote_counts.quantile(0.95)
m

434.0

In [120]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [121]:
set(md['vote_count'].isnull()),set(md['vote_average'].isnull())

({False, True}, {False, True})

In [122]:
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]

In [123]:
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')

In [124]:
qualified.shape

(2274, 6)

In [125]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [126]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [127]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [19]:
qualified

,title,year,vote_count,vote_average,popularity,genres,wr
15480,Inception,2010,14075,8,29.1081,"[Action, Thriller, Science Fiction, Mystery, A...",7.917588
12481,The Dark Knight,2008,12269,8,123.167,"[Drama, Action, Crime, Thriller]",7.905871
22879,Interstellar,2014,11187,8,32.2135,"[Adventure, Drama, Science Fiction]",7.897107
2843,Fight Club,1999,9678,8,63.8696,[Drama],7.881753
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,"[Adventure, Fantasy, Action]",7.871787
292,Pulp Fiction,1994,8670,8,140.95,"[Thriller, Crime]",7.868660
314,The Shawshank Redemption,1994,8358,8,51.6454,"[Drama, Crime]",7.864000
7000,The Lord of the Rings: The Return of the King,2003,8226,8,29.3244,"[Adventure, Fantasy, Action]",7.861927
351,Forrest Gump,1994,8147,8,48.3072,"[Comedy, Drama, Romance]",7.860656
5814,The Lord of the Rings: The Two Towers,2002,7641,8,29.4235,"[Adventure, Fantasy, Action]",7.851924
256,Star Wars,1977,6778,8,42.1497,"[Adventure, Action, Science Fiction]",7.834205
1225,Back to the Future,1985,6239,8,25.7785,"[Adventure, Comedy, Science Fiction, Family]",7.820813
834,The Godfather,1972,6024,8,41.1093,"[Drama, Crime]",7.814847
1154,The Empire Strikes Back,1980,5998,8,19.471,"[Adventure, Action, Science Fiction]",7.814099
46,Se7en,1995,5915,8,18.4574,"[Crime, Mystery, Thriller]",7.811669
24860,The Imitation Game,2014,5895,8,31.5959,"[History, Drama, Thriller, War]",7.811074
359,The Lion King,1994,5520,8,21.6058,"[Family, Animation, Drama]",7.799175
18465,The Intouchables,2011,5410,8,16.0869,"[Drama, Comedy]",7.795394
22841,The Grand Budapest Hotel,2014,4644,8,14.442,"[Comedy, Drama]",7.764530
586,The Silence of the Lambs,1991,4549,8,4.30722,"[Crime, Drama, Thriller]",7.760041
11354,The Prestige,2006,4510,8,16.9456,"[Drama, Mystery, Thriller]",7.758148
522,Schindler's List,1993,4436,8,41.7251,"[Drama, History, War]",7.754473
23673,Whiplash,2014,4376,8,64.3,[Drama],7.751411
289,Leon: The Professional,1994,4293,8,20.4773,"[Thriller, Crime, Drama]",7.747046
4099,Memento,2000,4168,8,15.4508,"[Mystery, Thriller]",7.740175
3030,The Green Mile,1999,4166,8,19.9668,"[Fantasy, Drama, Crime]",7.740062
5481,Spirited Away,2001,3968,8,41.0489,"[Fantasy, Adventure, Animation, Family]",7.728370
1213,The Shining,1980,3890,8,19.6116,"[Horror, Thriller]",7.723470
1057,Reservoir Dogs,1992,3821,8,12.2203,"[Crime, Thriller]",7.718986
2211,Life Is Beautiful,1997,3643,8,39.395,"[Comedy, Drama]",7.706717
...,...,...,...,...,...,...,...
21604,Prisoners,2013,3183,7,11.9626,"[Drama, Thriller, Crime]",6.789407
13187,Gran Torino,2008,3181,7,14.7942,[Drama],6.789290
21276,The Conjuring,2013,3169,7,14.9017,"[Horror, Thriller]",6.788589
7834,The Notebook,2004,3163,7,15.239,"[Romance, Drama]",6.788236
23557,How to Train Your Dragon 2,2014,3163,7,12.2567,"[Fantasy, Action, Adventure, Animation, Comedy...",6.788236
12083,Into the Wild,2007,3139,7,15.4235,"[Adventure, Drama]",6.786814
22718,The Lego Movie,2014,3127,7,16.4181,"[Adventure, Animation, Comedy, Family, Fantasy]",6.786095
11308,Pan's Labyrinth,2006,3122,7,26.8178,"[Fantasy, Drama, War]",6.785794
4865,A Beautiful Mind,2001,3087,7,11.9365,"[Drama, Romance]",6.783665
12170,No Country for Old Men,2007,3083,7,15.5655,"[Crime, Drama, Thriller]",6.783419
897,2001: A Space Odyssey,1968,3075,7,22.4946,"[Science Fiction, Mystery, Adventure]",6.782925
19460,The Perks of Being a Wallflower,2012,3056,7,12.7757,"[Drama, Romance]",6.781744
588,Beauty and the Beast,1991,3029,7,23.4335,"[Romance, Family, Animation, Fantasy, Music]",6.780042
1650,The Big Lebowski,1998,3001,7,15.9525,"[Comedy, Crime]",6.778249
23555,The Equalizer,2014,2997,7,17.6181,"[Thriller, Action, Crime]",6.777990
13874,(500) Days of Summer,2009,2993,7,16.3767,"[Comedy, Drama, Romance]",6.777731
42169,Get Out,2017,2978,7,36.894806,"[Mystery, Thriller, Horror]",6.776754
1903,Back to the Future Part III,1990,2978,7,13.044,"[Adventure, Comedy, Family, Science Fiction]",6.776754
21948,Dallas Buyers Club,2013,2973,7,14.7857,"[Drama, History]",6.776427
3886,Snatch,2000,2953,7,14.014,"[Thriller, Crime]",6.775106
11965,The Bourne Ultimatum,2007,2938,7,18.1733,"[Action, Drama, Mystery, Thriller]",6.774106
13060,Slumdog Millionaire,2008,2918,7,11.2582,"[Drama, Romance]",6.772758
12815,Watchmen,2009,2892,7,16.5515,"[Action, Mystery, Science Fiction]",6.770982
1624,Good Will Hunting,1997,2880,7,15.0648,[Drama],6.770152
7938,The Bourne Supremacy,2004,2873,7,20.4043,"[Action, Drama, Thriller]",6.769666
2006,Indiana Jones and the Temple of Doom,1984,2841,7,15.8023,"[Adventure, Action]",6.767415
16129,The King's Speech,2010,2817,7,11.2604,"[Drama, History]",6.765698
895,Sunset Boulevard,1950,533,8,11.7098,[Drama],6.763480
9888,Sin City,2005,2755,7,15.0105,"[Action, Thriller, Crime]",6.761143
16833,Source Code,2011,2752,7,9.79696,"[Thriller, Science Fiction, Mystery]",6.760918

Inception、The Dark Knight、Interstellar都是诺兰的，体现用户偏差。
根据类别构建排行榜

In [128]:
s = md['genres'].apply(lambda x : pd.Series(x)).stack().reset_index(level=1, drop=True)

In [129]:
s.name = 'genre'
gen_md = md.drop('genres', axis=1).join(s)

In [130]:
def build_chart(genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [131]:
set(gen_md['genre'])

{nan,
 'Comedy',
 'Mardock Scramble Production Committee',
 'Family',
 'Western',
 'Action',
 'Thriller',
 'Music',
 'Documentary',
 'TV Movie',
 'Science Fiction',
 'Odyssey Media',
 'Foreign',
 'GoHands',
 'War',
 'Mystery',
 'Romance',
 'Fantasy',
 'BROSTA TV',
 'Vision View Entertainment',
 'The Cartel',
 'Adventure',
 'Rogue State',
 'Carousel Productions',
 'Sentai Filmworks',
 'Pulser Productions',
 'Crime',
 'Telescene Film Group Productions',
 'Animation',
 'Horror',
 'History',
 'Aniplex',
 'Drama'}

In [132]:
build_chart('Romance').head(15)

,title,year,vote_count,vote_average,popularity,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,8.565285
351,Forrest Gump,1994,8147,8,48.3072,7.971357
876,Vertigo,1958,1162,8,18.2082,7.811667
40251,Your Name.,2016,1030,8,34.461252,7.789489
883,Some Like It Hot,1959,835,8,11.8451,7.745154
1132,Cinema Paradiso,1988,834,8,14.177,7.744878
19901,Paperman,2012,734,8,7.19863,7.713951
37863,Sing Street,2016,669,8,10.672862,7.689483
882,The Apartment,1960,498,8,11.9943,7.599317
38718,The Handmaiden,2016,453,8,16.727405,7.566166
3189,City Lights,1931,444,8,10.8915,7.558867
24886,The Way He Looks,2014,262,8,5.71127,7.331363
45437,In a Heartbeat,2017,146,8,20.82178,7.003959
1639,Titanic,1997,7770,7,26.8891,6.981546
19731,Silver Linings Playbook,2012,4840,7,14.4881,6.970581

基于内容的推荐
I will build two Content Based Recommenders based on:

Movie Overviews and Taglines
Movie Cast, Crew, Keywords and Genre

In [133]:
links_small = pd.read_csv('../links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')
links_small

0          862
1         8844
2        15602
3        31357
4        11862
5          949
6        11860
7        45325
8         9091
9          710
10        9087
11       12110
12       21032
13       10858
14        1408
15         524
16        4584
17           5
18        9273
19       11517
20        8012
21        1710
22        9691
23       12665
24         451
25       16420
26        9263
27       17015
28         902
29       37557
         ...
9095    308531
9096    341012
9097    259693
9098    328429
9099     43074
9100    302699
9101    324668
9102    278348
9103    258489
9104    316727
9105    316023
9106    177869
9107    353571
9108    399106
9109    328387
9110    368620
9111    401387
9112    373348
9113    338766
9114    390734
9115    314420
9116    390989
9117    159550
9118    410612
9119    392572
9120    402672
9121    315011
9122    391698
9123    137608
9124    410803
Name: tmdbId, Length: 9112, dtype: int64

In [47]:
links_small.shape, md.shape, md.columns

((9112,),
 (45466, 25),
 Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
        'imdb_id', 'original_language', 'original_title', 'overview',
        'popularity', 'poster_path', 'production_companies',
        'production_countries', 'release_date', 'revenue', 'runtime',
        'spoken_languages', 'status', 'tagline', 'title', 'video',
        'vote_average', 'vote_count', 'year'],
       dtype='object'))

In [134]:
md = md.drop([19730, 29503, 35587])
md['id'] = md['id'].astype('int')#????

In [135]:
smd = md[md['id'].isin(links_small)]
smd.shape

(9099, 25)

9099条数据进行个性化推荐

In [136]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [137]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [138]:
len(tf.vocabulary_)

268124

In [139]:
tf.stop_words_

set()

In [140]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [141]:
cosine_sim[0]

array([ 1.        ,  0.00680476,  0.        , ...,  0.        ,
        0.00344913,  0.        ])

In [142]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])
indices

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
Heat                                                     5
Sabrina                                                  6
Tom and Huck                                             7
Sudden Death                                             8
GoldenEye                                                9
The American President                                  10
Dracula: Dead and Loving It                             11
Balto                                                   12
Nixon                                                   13
Cutthroat Island                                        14
Casino                                                  15
Sense and Sensibility                                   16
Four Rooms                                              17
Ace Ventura: When Nature Calls                          18
Money Train                                             19
Get Shorty                                              20
Copycat                                                 21
Assassins                                               22
Powder                                                  23
Leaving Las Vegas                                       24
Othello                                                 25
Now and Then                                            26
Persuasion                                              27
The City of Lost Children                               28
Shanghai Triad                                          29
                                                      ...
Teenage Mutant Ninja Turtles: Out of the Shadows      9069
Popstar: Never Stop Never Stopping                    9070
The Conjuring 2                                       9071
Approaching the Unknown                               9072
Ghostbusters                                          9073
Central Intelligence                                  9074
Jason Bourne                                          9075
The Maid's Room                                       9076
The Legend of Tarzan                                  9077
The Purge: Election Year                              9078
Mike and Dave Need Wedding Dates                      9079
Survive and Advance                                   9080
Tallulah                                              9081
Piper                                                 9082
Nerve                                                 9083
My Friend Rockefeller                                 9084
Sunspring                                             9085
Author: The JT LeRoy Story                            9086
Hell or High Water                                    9087
Kingsglaive: Final Fantasy XV                         9088
Body                                                  9089
Sharknado 4: The 4th Awakens                          9090
The Last Brickmaker in America                        9091
Rustom                                                9092
Mohenjo Daro                                          9093
Shin Godzilla                                         9094
The Beatles: Eight Days a Week - The Touring Years    9095
Pokémon: Spell of the Unknown                         9096
Pokémon 4Ever: Celebi - Voice of the Forest           9097
Force Majeure                                         9098
Length: 9099, dtype: int64

In [143]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
#     print(len(sim_scores))
    sim_scores = [ x for x in sim_scores if isinstance(x[1], float)]
#     print(len(sim_scores))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [144]:
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

In [89]:
get_recommendations('The Godfather').head(10)

9099
9099

973      The Godfather: Part II
8387                 The Family
3509                       Made
4196         Johnny Dangerously
29               Shanghai Triad
5667                       Fury
2412             American Movie
1582    The Godfather: Part III
4221                    8 Women
2159              Summer of Sam
Name: title, dtype: object

 recommender that takes genre, keywords, cast and crew into consideration.

In [145]:
credits = pd.read_csv('../credits.csv')
keywords = pd.read_csv('../keywords.csv')

In [146]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [104]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
cast    45476 non-null object
crew    45476 non-null object
id      45476 non-null int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [105]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [108]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
id          46419 non-null int64
keywords    46419 non-null object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [147]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')
smd = md[md['id'].isin(links_small)]
smd.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,year,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,1995,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [155]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [158]:
def get_director(x):
    d = []
    for i in x:
        if i['job'] == 'Director':
            d.append(i['name'])
    if len(d) != 0:
        return d
    return []

In [159]:
smd['director'] = smd['crew'].apply(get_director)

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [174]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [176]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['keywords']

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0        [jealousy, toy, boy, friendship, friends, riva...
1        [board game, disappearance, based on children'...
2        [fishing, best friend, duringcreditsstinger, o...
3        [based on novel, interracial relationship, sin...
4        [baby, midlife crisis, confidence, aging, daug...
5        [robbery, detective, bank, obsession, chase, s...
6        [paris, brother brother relationship, chauffeu...
7                                                       []
8          [terrorist, hostage, explosive, vice president]
9        [cuba, falsely accused, secret identity, compu...
10       [white house, usa president, new love, widower...
11                                        [dracula, spoof]
12       [wolf, dog-sledding race, alaska, dog, goose, ...
13       [usa president, presidential election, waterga...
14       [exotic island, treasure, map, ship, scalp, pi...
15       [poker, drug abuse, 1970s, overdose, illegal p...
16       [bowling, based on novel, servant, country lif...
17       [hotel, new year's eve, witch, bet, hotel room...
18       [africa, indigenous, human animal relationship...
19       [brother brother relationship, subway, new yor...
20       [gambling, miami, based on novel, job, murder,...
21       [police brutality, psychology, police operatio...
22       [competition, assassination, cia, bank, cat, m...
23       [dead animal, shot to death, teenage boy, held...
24       [individual, prostitute, alcohol, casino, love...
25                  [shakespeare, jealousy, friends, moor]
26       [1970s, female friendship, coming of age, gyne...
27          [captain, napoleonic wars, old flame, admiral]
28       [clone, dream, island, eye, dystopia, aging, f...
29       [servant, cabaret, shanghai, diva, uncle, mist...
                               ...
39963                         [dystopia, cyberpunk, robot]
40019    [london england, china, magic, secret society,...
40153                                             [zombie]
40206    [brother brother relationship, turtle, sequel,...
40231           [pop star, musician, record album, famous]
40265    [london england, england, 1970s, spirit, singl...
40286           [mars, space travel, space mission, space]
40317    [female friendship, ghost hunting, reboot, ghost]
40392    [spy, cia, espionage, high school reunion, ref...
40455                       [assassin, amnesia, flashback]
40456                                                   []
40499    [africa, feral child, tarzan, jungle, animal a...
40500                 [dystopia, sequel, legalized murder]
40501                      [hawaii, wedding, wedding date]
40512                                                   []
40528    [gay, baby, van, painting, money, theft, book ...
40554                                  [bird, fear, short]
40631    [based on novel, technology, internet, hacking...
40688                   [biography, crime, woman director]
40717                        [experimental film, nonsense]
40787                                                   []
40831    [desperation, texas, bank robber, brother, sho...
40837    [fight, cgi, based on video game, warrior, anime]
40920                                            [mansion]
40939    [shark attack, sequel, farce, las vegas, creat...
40952                           [friendship, brick making]
41172                                          [bollywood]
41225                                          [bollywood]
41391    [monster, godzilla, giant monster, destruction...
41669                                 [music, documentary]
Name: keywords, Length: 9219, dtype: object

In [178]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
smd['director'] = smd['director'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [180]:
s = smd['keywords'].apply(lambda x : pd.Series(x)).stack().reset_index(level=1, drop=True)
s

0                            jealousy
0                                 toy
0                                 boy
0                          friendship
0                             friends
0                             rivalry
0                       boy next door
0                             new toy
0                   toy comes to life
1                          board game
1                       disappearance
1            based on children's book
1                            new home
1                             recluse
1                        giant insect
2                             fishing
2                         best friend
2                duringcreditsstinger
2                             old men
3                      based on novel
3            interracial relationship
3                       single mother
3                             divorce
3                         chick flick
4                                baby
4                      midlife crisis
4                          confidence
4                               aging
4                            daughter
4        mother daughter relationship
                     ...
40831           police officer killed
40831                        criminal
40831                held at gunpoint
40831                      police car
40831              small western town
40831                  saying goodbye
40831       bullet hole in windscreen
40837                           fight
40837                             cgi
40837             based on video game
40837                         warrior
40837                           anime
40920                         mansion
40939                    shark attack
40939                          sequel
40939                           farce
40939                       las vegas
40939                creature feature
40952                      friendship
40952                    brick making
41172                       bollywood
41225                       bollywood
41391                         monster
41391                        godzilla
41391                   giant monster
41391                     destruction
41391                           kaiju
41391                           toyko
41669                           music
41669                     documentary
Length: 64407, dtype: object

In [181]:
s.name = 'keywords'
s = s.value_counts()

In [183]:
s = s[s > 1]
s

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
violence                264
love                    222
musical                 219
sex                     219
suspense                212
revenge                 208
friendship              202
nudity                  197
police                  195
sport                   192
dystopia                184
biography               178
aftercreditsstinger     178
sequel                  160
prison                  155
new york                150
female nudity           147
drug                    144
teenager                141
los angeles             134
gay                     132
high school             125
world war ii            121
paris                   118
family                  116
                       ...
hook for a hand           2
bar shootout              2
episode film              2
somalia                   2
talking                   2
dead fish                 2
country                   2
cuban missile crisis      2
lawman                    2
animal killing            2
tumor                     2
simulated reality         2
body mutilation           2
censorship                2
plumbing supplier         2
concussion                2
saxophone                 2
campsite                  2
stealing a car            2
sign                      2
total destruction         2
princeton university      2
gas chamber               2
bicycle accident          2
nanotechnology            2
foreign legion            2
boy's choir               2
famous                    2
physician                 2
judgment                  2
Name: keywords, Length: 6709, dtype: int64

In [184]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [201]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [202]:
smd['keywords'] = smd['keywords'].apply(filter_keywords) #过滤只出现一次的keywords
smd['keywords']

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0        [jealousy, toy, boy, friendship, friends, riva...
1        [board game, disappearance, based on children'...
2             [fishing, best friend, duringcreditsstinger]
3        [based on novel, interracial relationship, sin...
4        [baby, midlife crisis, confidence, aging, daug...
5        [robbery, detective, bank, obsession, chase, s...
6        [paris, brother brother relationship, chauffeu...
7                                                       []
8          [terrorist, hostage, explosive, vice president]
9        [cuba, falsely accused, secret identity, compu...
10         [white house, usa president, new love, widower]
11                                        [dracula, spoof]
12                 [wolf, alaska, dog, goose, bear attack]
13       [usa president, presidential election, waterga...
14       [exotic island, treasure, map, ship, scalp, pi...
15       [poker, drug abuse, 1970s, overdose, illegal p...
16       [bowling, based on novel, servant, country lif...
17       [hotel, new year's eve, witch, bet, hotel room...
18       [africa, indigenous, human animal relationship...
19       [brother brother relationship, subway, new yor...
20       [gambling, miami, based on novel, job, murder,...
21       [police brutality, psychology, police operatio...
22       [competition, assassination, cia, bank, cat, m...
23       [dead animal, shot to death, teenage boy, held...
24       [individual, prostitute, alcohol, casino, love...
25                        [shakespeare, jealousy, friends]
26       [1970s, female friendship, coming of age, gyne...
27                   [captain, napoleonic wars, old flame]
28       [clone, dream, island, eye, dystopia, aging, f...
29       [servant, cabaret, shanghai, diva, uncle, mist...
                               ...
39963                         [dystopia, cyberpunk, robot]
40019    [london england, china, magic, secret society,...
40153                                             [zombie]
40206    [brother brother relationship, turtle, sequel,...
40231           [pop star, musician, record album, famous]
40265    [london england, england, 1970s, spirit, singl...
40286           [mars, space travel, space mission, space]
40317                   [female friendship, reboot, ghost]
40392    [spy, cia, espionage, high school reunion, acc...
40455                       [assassin, amnesia, flashback]
40456                                                   []
40499    [africa, feral child, tarzan, jungle, animal a...
40500                                   [dystopia, sequel]
40501                      [hawaii, wedding, wedding date]
40512                                                   []
40528    [gay, baby, van, painting, money, theft, book ...
40554                                  [bird, fear, short]
40631    [based on novel, technology, internet, hacking...
40688                   [biography, crime, woman director]
40717                                  [experimental film]
40787                                                   []
40831    [desperation, texas, bank robber, brother, sho...
40837    [fight, cgi, based on video game, warrior, anime]
40920                                            [mansion]
40939    [shark attack, sequel, farce, las vegas, creat...
40952                                         [friendship]
41172                                          [bollywood]
41225                                          [bollywood]
41391    [monster, godzilla, giant monster, destruction...
41669                                 [music, documentary]
Name: keywords, Length: 9219, dtype: object

In [203]:
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords']

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0        [jealousi, toy, boy, friendship, friend, rival...
1        [board gam, disappear, based on children's boo...
2                  [fish, best friend, duringcreditssting]
3        [based on novel, interracial relationship, sin...
4        [babi, midlife crisi, confid, age, daughter, m...
5        [robberi, detect, bank, obsess, chase, shoot, ...
6        [pari, brother brother relationship, chauffeur...
7                                                       []
8                 [terrorist, hostag, explos, vice presid]
9        [cuba, falsely accus, secret ident, computer v...
10                [white hous, usa presid, new lov, widow]
11                                        [dracula, spoof]
12                  [wolf, alaska, dog, goos, bear attack]
13       [usa presid, presidential elect, watergate sca...
14       [exotic island, treasur, map, ship, scalp, pirat]
15       [poker, drug abus, 1970s, overdos, illegal pro...
16       [bowl, based on novel, servant, country lif, j...
17       [hotel, new year's ev, witch, bet, hotel room,...
18       [africa, indigen, human animal relationship, bat]
19       [brother brother relationship, subway, new yor...
20       [gambl, miami, based on novel, job, murder, tr...
21       [police brut, psycholog, police oper, police p...
22       [competit, assassin, cia, bank, cat, mexican s...
23       [dead anim, shot to death, teenage boy, held a...
24       [individu, prostitut, alcohol, casino, love at...
25                          [shakespear, jealousi, friend]
26       [1970s, female friendship, coming of ag, gynec...
27                     [captain, napoleonic war, old flam]
28       [clone, dream, island, eye, dystopia, age, fri...
29       [servant, cabaret, shanghai, diva, uncl, mistr...
                               ...
39963                         [dystopia, cyberpunk, robot]
40019    [london england, china, magic, secret societi,...
40153                                              [zombi]
40206    [brother brother relationship, turtl, sequel, ...
40231           [pop star, musician, record album, famous]
40265    [london england, england, 1970s, spirit, singl...
40286               [mar, space travel, space miss, space]
40317                   [female friendship, reboot, ghost]
40392    [spi, cia, espionag, high school reunion, acco...
40455                       [assassin, amnesia, flashback]
40456                                                   []
40499    [africa, feral child, tarzan, jungl, animal at...
40500                                   [dystopia, sequel]
40501                             [hawaii, wed, wedding d]
40512                                                   []
40528    [gay, babi, van, paint, money, theft, book sig...
40554                                  [bird, fear, short]
40631    [based on novel, technolog, internet, hack, te...
40688                   [biographi, crime, woman director]
40717                                  [experimental film]
40787                                                   []
40831    [desper, texa, bank robb, brother, shoot, car ...
40837      [fight, cgi, based on video gam, warrior, anim]
40920                                            [mansion]
40939    [shark attack, sequel, farc, las vega, creatur...
40952                                         [friendship]
41172                                          [bollywood]
41225                                          [bollywood]
41391    [monster, godzilla, giant monst, destruct, kaiju]
41669                                 [music, documentari]
Name: keywords, Length: 9219, dtype: object

In [204]:
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
smd['keywords']

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0        [jealousi, toy, boy, friendship, friend, rival...
1        [boardgam, disappear, basedonchildren'sbook, n...
2                   [fish, bestfriend, duringcreditssting]
3        [basedonnovel, interracialrelationship, single...
4        [babi, midlifecrisi, confid, age, daughter, mo...
5        [robberi, detect, bank, obsess, chase, shoot, ...
6        [pari, brotherbrotherrelationship, chauffeur, ...
7                                                       []
8                  [terrorist, hostag, explos, vicepresid]
9        [cuba, falselyaccus, secretident, computerviru...
10                   [whitehous, usapresid, newlov, widow]
11                                        [dracula, spoof]
12                   [wolf, alaska, dog, goos, bearattack]
13       [usapresid, presidentialelect, watergatescand,...
14        [exoticisland, treasur, map, ship, scalp, pirat]
15       [poker, drugabus, 1970s, overdos, illegalprost...
16       [bowl, basedonnovel, servant, countrylif, jane...
17       [hotel, newyear'sev, witch, bet, hotelroom, sp...
18         [africa, indigen, humananimalrelationship, bat]
19       [brotherbrotherrelationship, subway, newyorkc,...
20       [gambl, miami, basedonnovel, job, murder, trav...
21       [policebrut, psycholog, policeoper, policeprot...
22       [competit, assassin, cia, bank, cat, mexicanst...
23       [deadanim, shottodeath, teenageboy, heldatgunp...
24       [individu, prostitut, alcohol, casino, loveatf...
25                          [shakespear, jealousi, friend]
26       [1970s, femalefriendship, comingofag, gynecolo...
27                       [captain, napoleonicwar, oldflam]
28       [clone, dream, island, eye, dystopia, age, fri...
29       [servant, cabaret, shanghai, diva, uncl, mistr...
                               ...
39963                         [dystopia, cyberpunk, robot]
40019    [londonengland, china, magic, secretsocieti, v...
40153                                              [zombi]
40206    [brotherbrotherrelationship, turtl, sequel, ba...
40231             [popstar, musician, recordalbum, famous]
40265    [londonengland, england, 1970s, spirit, single...
40286                 [mar, spacetravel, spacemiss, space]
40317                    [femalefriendship, reboot, ghost]
40392     [spi, cia, espionag, highschoolreunion, account]
40455                       [assassin, amnesia, flashback]
40456                                                   []
40499    [africa, feralchild, tarzan, jungl, animalattack]
40500                                   [dystopia, sequel]
40501                              [hawaii, wed, weddingd]
40512                                                   []
40528    [gay, babi, van, paint, money, theft, booksign...
40554                                  [bird, fear, short]
40631    [basedonnovel, technolog, internet, hack, teen...
40688                    [biographi, crime, womandirector]
40717                                   [experimentalfilm]
40787                                                   []
40831    [desper, texa, bankrobb, brother, shoot, carse...
40837         [fight, cgi, basedonvideogam, warrior, anim]
40920                                            [mansion]
40939    [sharkattack, sequel, farc, lasvega, creaturef...
40952                                         [friendship]
41172                                          [bollywood]
41225                                          [bollywood]
41391     [monster, godzilla, giantmonst, destruct, kaiju]
41669                                 [music, documentari]
Name: keywords, Length: 9219, dtype: object

In [206]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup']

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0        [jealousi, toy, boy, friendship, friend, rival...
1        [boardgam, disappear, basedonchildren'sbook, n...
2        [fish, bestfriend, duringcreditssting, walterm...
3        [basedonnovel, interracialrelationship, single...
4        [babi, midlifecrisi, confid, age, daughter, mo...
5        [robberi, detect, bank, obsess, chase, shoot, ...
6        [pari, brotherbrotherrelationship, chauffeur, ...
7        [jonathantaylorthomas, bradrenfro, rachaelleig...
8        [terrorist, hostag, explos, vicepresid, jean-c...
9        [cuba, falselyaccus, secretident, computerviru...
10       [whitehous, usapresid, newlov, widow, michaeld...
11       [dracula, spoof, leslienielsen, melbrooks, amy...
12       [wolf, alaska, dog, goos, bearattack, kevinbac...
13       [usapresid, presidentialelect, watergatescand,...
14       [exoticisland, treasur, map, ship, scalp, pira...
15       [poker, drugabus, 1970s, overdos, illegalprost...
16       [bowl, basedonnovel, servant, countrylif, jane...
17       [hotel, newyear'sev, witch, bet, hotelroom, sp...
18       [africa, indigen, humananimalrelationship, bat...
19       [brotherbrotherrelationship, subway, newyorkc,...
20       [gambl, miami, basedonnovel, job, murder, trav...
21       [policebrut, psycholog, policeoper, policeprot...
22       [competit, assassin, cia, bank, cat, mexicanst...
23       [deadanim, shottodeath, teenageboy, heldatgunp...
24       [individu, prostitut, alcohol, casino, loveatf...
25       [shakespear, jealousi, friend, laurencefishbur...
26       [1970s, femalefriendship, comingofag, gynecolo...
27       [captain, napoleonicwar, oldflam, amandaroot, ...
28       [clone, dream, island, eye, dystopia, age, fri...
29       [servant, cabaret, shanghai, diva, uncl, mistr...
                               ...
39963    [dystopia, cyberpunk, robot, vanessakirby, thu...
40019    [londonengland, china, magic, secretsocieti, v...
40153    [zombi, roxannaaugesen, rockyduvall, michaelst...
40206    [brotherbrotherrelationship, turtl, sequel, ba...
40231    [popstar, musician, recordalbum, famous, andys...
40265    [londonengland, england, 1970s, spirit, single...
40286    [mar, spacetravel, spacemiss, space, markstron...
40317    [femalefriendship, reboot, ghost, melissamccar...
40392    [spi, cia, espionag, highschoolreunion, accoun...
40455    [assassin, amnesia, flashback, mattdamon, alic...
40456    [paulagarcés, annabellasciorra, billcamp, mich...
40499    [africa, feralchild, tarzan, jungl, animalatta...
40500    [dystopia, sequel, elizabethmitchell, frankgri...
40501    [hawaii, wed, weddingd, zacefron, adamdevine, ...
40512                                       [jonathanhock]
40528    [gay, babi, van, paint, money, theft, booksign...
40554    [bird, fear, short, alanbarillaro, Family, Ani...
40631    [basedonnovel, technolog, internet, hack, teen...
40688    [biographi, crime, womandirector, steffikammer...
40717    [experimentalfilm, thomasmiddleditch, humphrey...
40787    [lauraalbert, brucebenderson, denniscooper, je...
40831    [desper, texa, bankrobb, brother, shoot, carse...
40837    [fight, cgi, basedonvideogam, warrior, anim, g...
40920    [mansion, helenrogers, alexandraturshen, laure...
40939    [sharkattack, sequel, farc, lasvega, creaturef...
40952    [friendship, sidneypoitier, wendycrewson, jayo...
41172    [bollywood, akshaykumar, ileanad'cruz, eshagup...
41225    [bollywood, hrithikroshan, poojahegde, kabirbe...
41391    [monster, godzilla, giantmonst, destruct, kaij...
41669    [music, documentari, paulmccartney, ringostarr...
Name: soup, Length: 9219, dtype: object

In [207]:
smd['soup'][0]

['jealousi',
 'toy',
 'boy',
 'friendship',
 'friend',
 'rivalri',
 'boynextdoor',
 'newtoy',
 'toycomestolif',
 'tomhanks',
 'timallen',
 'donrickles',
 'johnlasseter',
 'Animation',
 'Comedy',
 'Family']

In [216]:
smd.iloc[0][['keywords', 'cast', 'director', 'genres']]

keywords    [jealousi, toy, boy, friendship, friend, rival...
cast                         [tomhanks, timallen, donrickles]
director                                       [johnlasseter]
genres                            [Animation, Comedy, Family]
Name: 0, dtype: object

In [217]:
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [219]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

In [221]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [223]:
smd = smd.reset_index()

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,vote_average,vote_count,year,cast,crew,keywords,cast_size,crew_size,director,soup
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,7.7,5415.0,1995,"[tomhanks, timallen, donrickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousi, toy, boy, friendship, friend, rival...",13,106,[johnlasseter],jealousi toy boy friendship friend rivalri boy...
1,1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,...,6.9,2413.0,1995,"[robinwilliams, jonathanhyde, kirstendunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[boardgam, disappear, basedonchildren'sbook, n...",26,16,[joejohnston],boardgam disappear basedonchildren'sbook newho...
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,...,6.5,92.0,1995,"[waltermatthau, jacklemmon, ann-margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fish, bestfriend, duringcreditssting]",7,4,[howarddeutch],fish bestfriend duringcreditssting waltermatth...
3,3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,...,6.1,34.0,1995,"[whitneyhouston, angelabassett, lorettadevine]","[{'credit_id': '52fe44779251416c91011acb', 'de...","[basedonnovel, interracialrelationship, single...",10,10,[forestwhitaker],basedonnovel interracialrelationship singlemot...
4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,...,5.7,173.0,1995,"[stevemartin, dianekeaton, martinshort]","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[babi, midlifecrisi, confid, age, daughter, mo...",12,7,[charlesshyer],babi midlifecrisi confid age daughter motherda...
5,5,False,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,...,7.7,1886.0,1995,"[alpacino, robertdeniro, valkilmer]","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[robberi, detect, bank, obsess, chase, shoot, ...",65,71,[michaelmann],robberi detect bank obsess chase shoot thief h...
6,6,False,NaN,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,...,6.2,141.0,1995,"[harrisonford, juliaormond, gregkinnear]","[{'credit_id': '52fe44959251416c75039da9', 'de...","[pari, brotherbrotherrelationship, chauffeur, ...",57,53,[sydneypollack],pari brotherbrotherrelationship chauffeur long...
7,7,False,NaN,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,...,5.4,45.0,1995,"[jonathantaylorthomas, bradrenfro, rachaelleig...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[],7,4,[peterhewitt],jonathantaylorthomas bradrenfro rachaelleighco...
8,8,False,NaN,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,...,5.5,174.0,1995,"[jean-claudevandamme, powersboothe, dorianhare...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[terrorist, hostag, explos, vicepresid]",6,9,[peterhyams],terrorist hostag explos vicepresid jean-claude...
9,9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,6.6,1194.0,1995,"[piercebrosnan, seanbean, izabellascorupco]","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[cuba, falselyaccus, secretident, computerviru...",20,46,[martincampbell],cuba falselyaccus secretident computervirus se...
10,10,False,NaN,62000000,"[Comedy, Drama, Romance]",NaN,9087,tt0112346,en,The American President,...,6.5,199.0,1995,"[michaeldouglas, annettebening, michaelj.fox]","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","[whitehous, usapresid, newlov, widow]",18,6,[robreiner],whitehous usapresid newlov widow michaeldougla...
11,11,False,NaN,0,"[Comedy, Horror]",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,...,5.7,210.0,1995,"[leslienielsen, melbrooks, amyyasbeck]","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","[dracula, spoof]",11,9,[melbrooks],dracula spoof leslienielsen melbrooks amyyasbe...
12,12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[Family, Animation, Adventure]",NaN,21032,tt0112453,en,Balto,...,7.1,423.0,1995,"[kevinbacon, bobhoskins, bridgetfonda]","[{'credit_id': '593f24b9c3a3680369002371', 'de...","[wolf, alaska, dog, goos, bearattack]",13,14,[simonwells],wolf alaska dog goos bearattack kevinbacon bob...
13,13,False,NaN,44000000,"[History, Drama]",NaN,10858,tt0113987,en,Nixon,...,7.1,72.0,1995,"[anthonyhopkins, joanallen, powersboothe]","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","[usapresid, presidentialelect, watergatescand,...",34,8,[oliverstone],usapresid presidentialelect watergatescand bio...
14,14,False,NaN,98000000,"[Action, Adventure]",NaN,1408,tt0112760,en,Cutthroat Island,...,5.7,137.0,1995,"[geenadavis, matthewmodine, franklangella]","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[exoticisland, treasur, map, ship, scalp, pirat]",31,16,[rennyharlin],exoticisland treasur map ship scalp pirat geen...
15,15,False,NaN,52000000,"[Drama, Crime]",NaN,524,tt0112641,en,Casino,...,7.8,1343.0,1995,"[robertdeniro, sharonstone, joepesci]","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[poker, drugabus, 1970s, overdos, illegalprost...",45,10,[martinscorsese],poker drugabus 1970s overdos illegalprostitut ...
16,16,False,NaN,16500000,"[Drama, Romance]",NaN,4584,tt0114388,en,Sense and Sensibility,...,7.2,364.0,1995,"[katewinslet, emmathompson, hughgrant]","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","[bowl, basedonnovel, servant, countrylif, jane...",17,8,[anglee],bowl basedonnovel servant countrylif janeauste...
17,17,False,NaN,4000000,"[Crime, Comedy]",NaN,5,tt0113101,en,Four Rooms,...,6.5,539.0,1995,"[timroth, antoniobanderas, jenniferbeals]","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[hotel, newyear'sev, witch, bet, hotelroom, sp...",24,88,"[allisonanders, alexandrerockwell, robertrodri...",hotel newyear'sev witch bet hotelroom sperm lo...
18,18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[Crime, Comedy, Adventure]",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,...,6.1,1128.0,1995,"[jimcarrey, ianmcneice, simoncallow]","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","[africa, indigen, humananimalrelationship, bat]",15,11,[steveoedekerk],africa indigen humananimalrelationship bat jim...
19,19,False,NaN,60000000,"[Action, Comedy, Crime]",NaN,11517,tt0113845,en,Money Train,...,5.4,224.0,1995,"[wesleysnipes, woodyharrelson, jenniferlopez]","[{'credit_id': '52fe44509251416c750305a1', 'de...","[brotherbrotherrelationship, subway, newyorkc,...",15,44,[josephruben],brotherbrotherrelationship subway newyorkc new...
20,20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[Comedy, Thriller, Crime]",NaN,8012,tt0113161,en,Get Shorty,...,6.4,305.0,1995,"[johntravolta, genehackman, renerusso]","[{'credit_id': '52fe448dc3a36847f809c729', 'de...","[gambl, miami, basedonnovel, job, murder, trav...",16,26,[barrysonnenfeld],gambl miami basedonnovel job murder travel maf...
21,21,False,NaN,0,"[Drama, Thriller]",NaN,1710,tt0112722,en,Copycat,...,6.5,199.0,1995,"[sigourneyweaver, hollyhunter, willpatton]","[{'credit_id': '52fe430ec3a36847f803722d', 'de...","[policebrut, psycholog, policeoper, policeprot...",15,21,[jonamiel],policebrut psycholog policeoper policeprotect ...
22,22,False,NaN,50000000,"[Action, Adventure, Crime, Thriller]",NaN,9691,tt0112401,en,Assassins,...,6.0,394.0,1995,"[sylvesterstallone, antoniobanderas, juliannem...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...","[competit, assassin, cia, bank, cat, mexicanst...",17,71,[richarddonner],competit assassin cia bank cat mexicanstandoff...
23,23,False,NaN,0,"[Drama, Fantasy, Science Fiction, Thriller]",NaN,12665,tt0114168,en,Powder,...,6.3,143.0,1995,"[marysteenburgen, seanpatrickflanery, lancehen...","[{'credit_id': '52fe45129251416c7504ab67', 'de...","[deadanim, shottodeath, teenageboy, heldatgunp...",5,9,[victorsalva],deadanim shottodeath teenageboy heldatgunpoint...
24,24,False,NaN,3600000,"[Drama, Romance]",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,...,7.1,365.0,1995,"[nicolascage, elisabethshue, juliansands]","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...","[individu, prostitut, alcohol, casino, loveatf...",14,12,[mikefiggis],individu prostitut alcohol casino loveatfirsts...
25,25,False,NaN,0,[Drama],NaN,16420,tt0114057,en,Othello,...,7.0,33.0,1995,"[laurencefishburne, irènejacob, kennethbranagh]","[{'credit_id': '5462510ec3a368082d000121', 'de...","[shakespear, jealousi, friend]",9,3,[oliverparker],shakespear jealousi friend laurencefishburne i...
26,26,False,NaN,12000000,"[Comedy, Drama, Family]",NaN,9263,tt0114011,en,Now and Then,...,6.6,91.0,1995,"[christinaricci, rosieo'donnell, thorabirch]","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...","[1970s, femalefriendship, comingofag, gynecolo...",16,8,[leslilinkaglatter],1970s femalefriendship comingofag gynecologist...
27,27,False,NaN,0,"[Drama, Romance]",NaN,17015,tt0114117,en,Persuasion,...,7.4,36.0,1995,"[amandaroot, ciaránhinds, susanfleetwood]","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...","[captain, napoleonicwar, oldflam]",26,22,[rogermichell],captain napoleonicwar oldflam amandaroot ciará...
28,28,False,NaN,18000000,"[Fantasy, Science Fiction, Adventure]",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,...,7.6,308.0,1995,"[ronperlman, dominiquepinon, judithvittet]","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...","[clone, dream, island, eye, dystopia, age, fri...",37,21,"[jean-pierrejeunet, marccaro]",clone dream island eye dystopia age friendship...
29,29,False,NaN,0,"[Drama, Crime]",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,...,6.5,17.0,1995,"[gongli, libao-tian, wangxiaoxiao]","[{'credit_id': '52fe46559251416c910511c9', 'de...","[servant, cabaret, shanghai, diva, uncl, mistr...",6,4,[zhangyimou],servant cabaret shanghai diva uncl mistress um...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9189,39963,False,NaN,0,"[Action, Horror, Science Fiction]",NaN,384798,tt2667380,en,Kill Command,...,5.2,203.0,2016,"[vanessakirby, thurelindhardt, davidajala]","[{'credit_id': '598965a89251414bd100e6f5', 'de...","[dystopia, cyberpunk, robot]",11,42,[stevengomez],dystopia cyberpunk robot vanessakirby thurelin...
9190,40019,False,"{'id': 382685, 'name': 'Now You See Me Collect...",90000000,"[Action, Adventure, Comedy, Crime, Mystery, Th...",http://nowyouseeme.movie,291805,tt3110958,en,Now You See Me 2,...,6.7,3362.0,2016,"[jesseeisenberg, woodyharrelson, markruffalo]","[{'credit_id': '55a77e329251411e11001568', 'de...","[londonengland, china, magic, secretsocieti, v...",141,92,[jonm.chu],londonengland china magic secretsocieti vigila...
9191,40153,False,NaN,0,[Horror],NaN,26677,tt0155350,en,The Video Dead,...,5.0,20.0,1987,"[roxannaaugesen, rockyduvall, michaelst.michaels]","[{'credit_id': '52fe4512c3a368484e046f03', 'de...",[zombi],7,9,[robertscott],zombi roxannaaugesen rockyduvall michaelst.mic...
9192,40206,False,"{'id': 401562, 'name': 'Teenage Mutant Ninja T...",135000000,"[Fantasy, Action, Adventure, Comedy]",http://www.teenagemutantninjaturtlesmovie.com/,308531,tt3949660,en,Teenage Mutant Ninja Turtles: Out of the Shadows,...,5.8,984.0,2016,"[meganfox, stephenamell, willarnett]","[{'credit_id': '548315c292514175f5001823', 'de...","[brotherbrotherrelationship, turtl, sequel, ba...",25,14,[davegreen],brotherbrotherrelationship turtl sequel basedo...
9193,40231,False,NaN,0,"[Comedy, Music]",https://www.uphe.com/movies/popstar-never-stop...,341012,tt3960412,en,Popstar: Never Stop Never Stopping,...,6.6,348.0,2016,"[andysamberg, jormataccone, akivaschaffer]","[{'credit_id': '555da498c3a3686934001048', 'de...","[popstar, musician, recordalbum, famous]",111,7,"[akivaschaffer, jormataccone]",popstar musician recordalbum famous andysamber...
9194,40265,False,"{'id': 313086, 'name': 'The Conjuring Collecti...",40000000,[Horror],http://www.warnerbros.com/conjuring-2,259693,tt3065204,en,The Conjuring 2,...,7.0,2018.0,2016,"[patrickwilson, verafarmiga, madisonwolfe]","[{'credit_id': '5327f4c99251411a0d001c70', 'de...","[londonengland, england, 1970s, spirit, single...",30,54,[jameswan],londonengland england 1970s spirit singlemoth ...
9195,40286,False,NaN,0,"[Thriller, Drama, Science Fiction]",NaN,328429,tt2674430,en,Approaching the Unknown,...,5.1,89.0,2016,"[markstrong, lukewilson, sanaalathan]","[{'credit_id': '57216d09c3a368117e001999', 'de...","[mar, spacetravel, spacemiss, space]",7,45,[markelijahrosenberg],mar spacetravel spacemiss space markstrong luk...
9196,40317,False,"{'id': 2980, 'name': 'Ghostbusters Collection'...",144000000,"[Action, Fantasy, Comedy]",http://www.ghostbusters.com/,43074,tt1289401,en,Ghostbusters,...,5.3,2203.0,2016,"[melissamccarthy, kristenwiig, katemckinnon]","[{'credit_id': '543e1b8a0e0a266f7a001970', 'de...","[femalefriendship, reboot, ghost]",75,100,[paulfeig],femalefriendship reboot ghost melissamccarthy ...
9197,40392,False,NaN,50000000,"[Action, Comedy]",http://www.centralintelligencemovie.com/,302699,tt1489889,en,Central Intelligence,...,6.2,1699.0,2016,"[dwaynejohnson, kevinhart, amyryan]","[{'credit_id': '552da16d9251413873006694', 'de...","[spi, cia, espionag, highschoolreunion, account]",37,64,[rawsonmarshallthurber],spi cia espionag highschoolreunion account dwa...
9198,40455,False,"{'id': 31562, 'name': 'The Bourne Collection',...",120000000,"[Action, Thriller]",http://www.jasonbournemovie.com,324668,tt4196776,en,Jason Bourne,...,5.9,2386.0,2016,"[mattdamon, aliciavikander, tommyleejones]","[{'credit_id': '552da5e192514174db00514b', 'de...","[assassin, amnesia, flashback]",208,119,[paulgreengrass],assassin amnesia flashback mattdamon aliciavik...
9199,40456,False,NaN,0,[Thriller],NaN,278348,tt2263814,en,The Maid's Room,...,4.8,4.0,2014,"[paulagarcés, annabellasciorra, billcamp]","[{'credit_id': '53a86ce20e0a26144200618d', 'de...",[],10,10,[michaelwalker],paulagarcés annabellasciorra billcamp michaelw...
9200,40499,False,NaN,180000000,"[Action, Adventure]",http://legendoftarzan.com,258489,tt0918940,en,The Legend of Tarzan,...,5.5,2488.0,2016,"[alexanderskarsgård, margotrobbie, christophwa...","[{'credit_id': '535a4469c3a36847a900129c', 'de...","[africa, feralchild, tarzan, jungl, animalattack]",34,12,[davidyates],africa feralchild tarzan jungl animalattack al...
9201,40500,False,"{'id': 256322, 'name': 'The Purge Collection',...",10000000,"[Action, Horror, Thriller]",http://www.purgeelectionyear.com,316727,tt4094724,en,The Purge: Election Year,...,6.1,1356.0,2016,"[elizabethmitchell, frankgrillo, mykeltiwillia...","[{'credit_id': '54d9f356c3a3687ab50014d6', 'de...","[dystopia, sequel]",69,58,[jamesdemonaco],dystopia sequel elizabethmitchell frankgrillo ...
9202,40501,False,NaN,33000000,[Comedy],http://www.foxmovies.com/movies/mike-and-dave-...,316023,tt2823054,en,Mike and Dave Need Wedding Dates,...,5.9,901.0,2016,"[zacefron, adamdevine, annakendrick]","[{'credit_id': '58b9b8ee925141609e00ca24', 'de...","[hawaii, wed, weddingd]",58,21,[jakeszymanski],hawaii wed weddingd zacefron adamdevine annake...
9203,40512,False,NaN,0,[],http://espn.go.com/30for30/film?page=survive%2...,177869,tt2751904,en,Survive and Advance,...,10.0,2.0,2013,[],"[{'credit_id': '547785049251415e1c000cd2', 'de...",[],0,1,[jonathanhock],jonathanhock
9204,40528,False,NaN,0,"[Comedy, Drama, Romance]",NaN,353571,tt1639084,en,Tallulah,...,6.8,203.0,2016,"[ellenpage, allisonjanney, tammyblanchard]","[{'credit_id': '55c584c09251417a21000d99', 'de...","[gay, babi, van, paint, money, theft, booksign...",24,13,[sianheder],gay babi van paint money theft booksign readin...
9205,40554,False,NaN,0,"[Family, Animation]",http://www.pixar.com/short_films/Theatrical-Sh...,399106,tt5613056,en,Piper,...,8.2,487.0,2016,[],"[{'credit_id': '5744d6b79251417fc90002a4', 'de...","[bird, fear, short]",0,10,[alanbarillaro],bird fear short alanbarillaro Family Animation
9206,40631,False,NaN,19000000,"[Mystery, Adventure, Crime]",http://www.playnerve.com/,328387,tt3531824,en,Nerve,...,7.1,2262.0,2016,"[emmaroberts, davefranco, emilymeade]","[{'credit_id': '54f4eb529251416acf00058b', 'de...","[basedonnovel, technolog, internet, hack, teen...",22,42,"[henryjoost, arielschulman]",basedonnovel technolog internet hack teenag ne...
9207,40688,False,NaN,0,[Documentary],NaN,368620,tt4465220,en,My Friend Rockefeller,...,6.2,9.0,2015,[],"[{'credit_id': '57763bdb9251417e16001433', 'de...","[biographi, crime, womandirector]",0,2,[steffikammerer],biographi crime womandirector steffikammerer D...
9208,40717,False,NaN,0,[Science Fiction],NaN,401387,tt5794766,en,Sunspring,...,6.6,7.0,2016,"[thomasmiddleditch, humphreyker, elisabethgray]","[{'credit_id': '576fcf6292514176d30011ce', 'de...",[experimentalfilm],3,12,[oscarsharp],experimentalfilm thomasmiddleditch humphreyker...
9209,40787,False,NaN,0,[Documentary],NaN,373348,tt5278462,en,Author: The JT LeRoy Story,...,6.2,9.0,2016,"[lauraalbert, brucebenderson, denniscooper]","[{'credit_id': '5675c8bf92514179db0037b2', 'de...",[],6,4,[jefffeuerzeig],lauraalbert brucebenderson denniscooper jefffe...
9210,40831,False,NaN,12000000,"[Crime, Drama, Thriller, Western]",http://hellorhighwater.movie/,338766,tt2582782,en,Hell or High Water,...,7.2,1304.0,2016,"[jeffbridges, chrispine, benfoster]","[{'credit_id': '5547ee489251415605000103', 'de...","[desper, texa, bankrobb, brother, shoot, carse...",29,56,[davidmackenzie],desper texa bankrobb brother shoot carsetonfir...
9211,40837,False,"{'id': 140760, 'name': 'Final Fantasy Collecti...",0,"[Action, Animation, Adventure, Drama, Fantasy,...",http://www.kingsglaivefinalfantasyxv-movie.com,390734,tt5595168,ja,キングスグレイブ ファイナルファンタジーXV,...,6.8,201.0,2016,"[goayano, shiorikutsuna, ayumifujimura]","[{'credit_id': '56fd1a259251415fa3002309', 'de...","[fight, cgi, basedonvideogam, warrior, anim]",13,5,[takeshinozue],fight cgi basedonvideogam warrior anim goayano...
9212,40920,False,NaN,0,"[Drama, Thriller]",NaN,314420,tt3732950,en,Body,...,5.0,16.0,2015,"[helenrogers, alexandraturshen, laurenmolina]","[{'credit_id': '54a218a5925141186000079f', 'de...",[mansion],5,4,"[robertolsen, danberk]",mansion helenrogers alexandraturshen laurenmol...
9213,40939,False,"{'id': 286023, 'name': 'Sharknado Collection',...",0,"[Comedy, Horror, Science Fiction]",http://www.syfy.com/sharknado4,390989,tt4831420,en,Sharknado 4: The 4th Awakens,...,4.3,88.0,2016,"[ianziering, tarareid, davidhasselhoff]","[{'credit_id': '56ffae0cc3a3686ea7001e00', 'de...","[sharkattack, sequel, farc, lasvega, creaturef...",76,15,[anthonyc.ferrante],sharkattack sequel farc lasvega creaturefeatur...
9214,40952,False,NaN,8000000,[Drama],NaN,159550,tt0255313,en,The Last Brickmaker in America,...,7.0,1.0,2001,"[sidneypoitier, wendycrewson, jayo.sanders]","[{'credit_id': '544475aac3a36819fb000578', 'de...",[friendship],7,2,[greggchampion],friendship sidneypoitier wendycrewson jayo.san...
9215,41172,False,NaN,1000000,"[Thriller, Romance]",NaN,392572,tt5165344,hi,रुस्तम,...,7.3,25.0,2016,"[akshaykumar, ileanad'cruz, eshagupta]","[{'credit_id': '5951baf692514129c4016600', 'de...",[bollywood],14,16,[tinusureshdesai],bollywood akshaykumar ileanad'cruz eshagupta t...
9216,41225,False,NaN,15050000,"[Adventure, Drama, History, Romance]",NaN,402672,tt3859980,hi,Mohenjo Daro,...,6.7,26.0,2016,"[hrithikroshan, poojahegde, kabirbedi]","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",[bollywood],12,16,[ashutoshgowariker],bollywood hrithikroshan poojahegde kabirbedi a...

In [224]:
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [231]:
cosine_sim[0]

array([ 1.        ,  0.03456506,  0.04120428, ...,  0.        ,
        0.        ,  0.        ])

In [228]:
get_recommendations('The Dark Knight').head(10)

8031         The Dark Knight Rises
6218                 Batman Begins
7659    Batman: Under the Red Hood
8927       Kidnapping Mr. Heineken
1134                Batman Returns
5943                      Thursday
1260                Batman & Robin
2448                    Nighthawks
8026            Bullet to the Head
9121                  İtirazım Var
Name: title, dtype: object

In [232]:
get_recommendations('Mean Girls').head(10)

8883                                   The DUFF
7377                    I Love You, Beth Cooper
4763                              Freaky Friday
6698                      It's a Boy Girl Thing
3712                       The Princess Diaries
7494    American Pie Presents: The Book of Love
5542                                  Sleepover
5163                       Just One of the Guys
3319                            Head Over Heels
5092                           Lord Love a Duck
Name: title, dtype: object

In [237]:
def improved_recommendations(title):
    title = 'The Dark Knight'
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [238]:
improved_recommendations('The Dark Knight')

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/yangmei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,title,vote_count,vote_average,year,wr
8031,The Dark Knight Rises,9263,7,2012,6.921448
6218,Batman Begins,7511,7,2005,6.904127
7659,Batman: Under the Red Hood,459,7,2010,6.147016
1134,Batman Returns,1706,6,1992,5.846862
7561,Harry Brown,351,6,2009,5.582529
6645,Harsh Times,198,6,2005,5.481464
7582,Defendor,197,6,2009,5.480642
8026,Bullet to the Head,490,5,2013,5.115027
9024,Batman v Superman: Dawn of Justice,7189,5,2016,5.013943
1260,Batman & Robin,1447,4,1997,4.287233

In [239]:
ratings = pd.read_csv('../ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [245]:
reader = Reader()
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)

In [247]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9025
MAE:  0.6942
------------
Fold 2
RMSE: 0.8936
MAE:  0.6901
------------
Fold 3
RMSE: 0.9000
MAE:  0.6918
------------
Fold 4
RMSE: 0.8954
MAE:  0.6879
------------
Fold 5
RMSE: 0.8902
MAE:  0.6853
------------
------------
Mean RMSE: 0.8964
Mean MAE : 0.6899
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.69423146387757706,
                             0.69010616711499062,
                             0.6917521711145912,
                             0.68794981391582233,
                             0.68530902722480103],
                            'rmse': [0.902539226847068,
                             0.89358370169211843,
                             0.90004966758731619,
                             0.89542441446804444,
                             0.8901649063838929]})

In [248]:
trainset = data.build_full_trainset()
svd.train(trainset)

In [249]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [250]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.8562289278927793, details={'was_impossible': False})

In [252]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [253]:
id_map = pd.read_csv('../links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')

In [255]:
indices_map = id_map.set_index('id')
indices_map

          movieId
id
862.0           1
8844.0          2
15602.0         3
31357.0         4
11862.0         5
949.0           6
11860.0         7
45325.0         8
9091.0          9
710.0          10
9087.0         11
12110.0        12
21032.0        13
10858.0        14
1408.0         15
524.0          16
4584.0         17
5.0            18
9273.0         19
11517.0        20
8012.0         21
1710.0         22
9691.0         23
12665.0        24
451.0          25
16420.0        26
9263.0         27
17015.0        28
902.0          29
37557.0        30
...           ...
384798.0   158956
291805.0   159093
26677.0    159462
308531.0   159690
341012.0   159755
259693.0   159858
328429.0   159972
43074.0    160080
302699.0   160271
324668.0   160438
278348.0   160440
258489.0   160563
316727.0   160565
316023.0   160567
177869.0   160590
353571.0   160656
399106.0   160718
328387.0   160954
368620.0   161084
401387.0   161155
373348.0   161336
338766.0   161582
390734.0   161594
314420.0   161830
390989.0   161918
159550.0   161944
392572.0   162542
402672.0   162672
315011.0   163056
391698.0   163949

[9219 rows x 1 columns]

In [257]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]

    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [258]:
hybrid(1, 'Avatar')

,title,vote_count,vote_average,year,id,est
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,2.982123
7705,Alice in Wonderland,8.0,5.4,1933,25694,2.915238
2014,Fantastic Planet,140.0,7.6,1973,16306,2.810453
8865,Star Wars: The Force Awakens,7993.0,7.5,2015,140607,2.808146
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,2.761818
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,2.759896
7091,Mutant Chronicles,142.0,5.1,2008,13256,2.685536
4017,Hawk the Slayer,13.0,4.5,1980,25628,2.671984
1668,Return from Witch Mountain,38.0,5.6,1978,14822,2.647908
831,Escape to Witch Mountain,60.0,6.5,1975,14821,2.645605

In [259]:
hybrid(500, 'Avatar')

,title,vote_count,vote_average,year,id,est
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,3.155675
7705,Alice in Wonderland,8.0,5.4,1933,25694,3.063222
7088,Star Wars: The Clone Wars,434.0,5.8,2008,12180,2.982932
6084,Beastmaster 2: Through the Portal of Time,17.0,4.6,1991,27549,2.961817
831,Escape to Witch Mountain,60.0,6.5,1975,14821,2.931613
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,2.911105
3060,Sinbad and the Eye of the Tiger,39.0,6.3,1977,11940,2.894881
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,2.875041
2014,Fantastic Planet,140.0,7.6,1973,16306,2.825676
1668,Return from Witch Mountain,38.0,5.6,1978,14822,2.808026